   /* ********* Utilidades (Clases re utilizables) *********  */

.btn{ /* Clase generica para los botones */
  border-radius: .5rem ;
  padding: 1rem;
  display: inline-block;
  width: 12.5rem;
  font-weight: bold;
  text-align: center;
  color: $color-blanco;
  background-color: $color-principal;
}

.contenedor{ /* Clase generica para centrar elementos */
  margin: auto;
  max-width: $max-width;
}

.none{ /* Clase generica para desaparecer elementos */
  display: none;
}

.section-space{
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
}

.article-space{
  margin-bottom: 2rem;
}

.text-color-principal{
  color: $color-principal;
}

.scale-img{
  width: 90%;
  // filter:grayscale(1);
}

.padding-top{
  padding-top: .3rem ;
}

/* Clases generica para alinear los elementos tanto normal como responsive */
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
@media screen and (min-width: 1024px){

  .full-lg-screen{
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center{
    text-align: center;
  }
  .text-lg-left{
    text-align: left;
  }
  .text-lg-right{
    text-align: right;
  }
}

.box-shadow{ /* Clase generica para darle sombreado elementos */
  box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.25);
}

.section-title{
  border-top: 3px solid  $color-principal;
  border-bottom: 3px solid  $color-principal;
  width: 15rem;
  text-align: center;
  margin: 2rem auto;
  margin-top: 1rem;
  padding: .5rem 1rem;
  color: $color-titulo;
} 

.sub-section-title{
  display: inline-block;
  width: 70%;
  margin: 0 auto;
  padding: 0.75rem 0 0.25rem 0;
  border-bottom: 2px solid $color-principal;
}


.avatar{
  border-radius: 50%;
  height: 9.5rem;
  width: 9.5rem;
}

.bg-gray-light{
  background-color: var(--gray-light-color);
}

