// Portafolio en si:

main .portafolio .contenedor{

  .portafolio-card{
    position: relative;
    width: 100%;
    height: 21rem;
    margin: 0.75rem auto;
    display: block;
    overflow: hidden;

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .portafolio-card-info{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: $color-principal-opacidad;
      color: $color-blanco;

      opacity: 0;
      pointer-events: none;
      transform: translateX(100%);
      transition: all .5s ease-in-out;

      div{
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: 2px solid #fff;
        border-radius: .25rem;

        display: flex;
        flex-direction: column;

        span{
          width: 100%;
          height: 100%;

          display: flex;
          align-items: flex-end;
          
        }
      }
    }

    &:hover .portafolio-card-info{
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%);
    }
  }
}

// Modal del portafolio:

main .portafolio .modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  height: 100vh;
  background: $color-negro-opacidad;

  display: flex;
  justify-content: center;
  align-items: center;
 
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: all 1s ease-in-out;

  .modal-content{
    position: relative;
    width: 90%;

    .modal-cerrar{
      position: absolute;
      top: -1.75rem;
      right: 0rem;

      i{
        height: 1.5rem;
        width: 1.5rem;
        background-color: $color-principal;
        border-radius: 50%;
        text-align: center;
        line-height: 1.5rem;
        color: $color-blanco;
      }
    }
  }

  &[id|="trabajo"]:target{ /*De esta manera, cuando le hagamos click a un target/elemento que dentro de sus atributos tenga un id con la palabra "trabajo, se va a abrir automaticamente el modal*/
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }

}
