// Portafolio en si:

main .portafolio .contenedor{

  .portafolio-card{
    position: relative;
    width: 100%;
    height: 23rem;
    margin: 0.75rem auto;
    display: block;
    overflow: hidden;

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center;
    }

    .portafolio-card-info{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      
      width: 100%;
      height: 100%;
      padding: 1rem;
      background-color: $color-principal-opacidad;
      color: $color-blanco;

      opacity: 0;
      pointer-events: none;
      transform: translateX(100%);
      transition: all .5s ease-in-out;

      div{
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: 2px solid #fff;
        border-radius: .25rem;

        display: flex;
        flex-direction: column;

        span{
          width: 100%;
          height: 100%;

          display: flex;
          align-items: flex-end;
          
        }
      }
    }

    &:hover .portafolio-card-info{
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%);
    }
  }
}

// Efectos e inclusion del modal del portafolio:
.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  width: 100%;
  height: 100vh;
  padding: 1rem;
  background: $color-negro-opacidad;

  display: flex;
  justify-content: center;
  align-items: center;
 
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: opacity 1s ease-in-out, pointer-events 1s ease-in-out, transform 1s ease-in-out;


  &[id|="trabajo"]:target{ /*De esta manera, cuando le hagamos click a un target/elemento que dentro de sus atributos tenga un id con la palabra "trabajo, se va a abrir automaticamente el modal*/
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }

}

// Estilo del modal 

.modal .modal-content{
  position: relative;

  .modal-cerrar{
    position: absolute;
    top: .25rem;
    right: .25rem;

    i{
      height: 1.5rem;
      width: 1.5rem;
      background-color: $color-principal;
      border-radius: 50%;
      text-align: center;
      line-height: 1.5rem;
      color: $color-blanco;
    }
  }

  .portafolio-modal{
    width: 100%;
    max-width: 400px;
    height: 85vh;
    
    padding: 2rem 1rem 0.5rem 1rem;
    margin-bottom: 3rem;
    background-color: $color-blanco;
    
    display: flex;
    flex-direction: column;
    
    .carrousel{

      max-width: 400px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      .slides{

        /* Por cada foto que tengas, le debes agregar un 100% al width. COmo tenemos 5 fotos en el slide, ponemos 500%*/
        display: flex;
        width: 500%; //400
        height: 30vh;
      
        transform: translateX(0);
        transition: transform .5s ease-in-out;

        // animation: carousel-slide 12s ease-in-out 3s 3;
    
        img{
          /* Por cada foto (igual que arriba), lo debes dividir al 100%, es decir como tenemos 5 fotos en el slide, ponemos 20%*/
          width: 20%; //25
          height: inherit;
          object-fit:contain;
          object-position: center;
        }

      }

      .carrousel-btns{
        position: absolute;
        top: 0;
        
        width: 100%;
        height: 100%;
        padding: 0 .5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        button{
          font-size: 1.25rem;
          border: 1px solid $color-secundario;
          border-radius: .25rem;
          padding: 0 .25rem;
          
          outline: none;
          background-color: transparent;
          color: $color-principal;
          font-size: 1.25rem;
          cursor: pointer;
        }
      }
    }

    .portafolio-info{

      h3{
        border-bottom: 3px solid $color-principal;
        margin: 1rem 0;
        padding-bottom: .5rem;
        text-align: center;
        color: $color-texto;
      }

      .portafolio-details{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-auto-rows: 1.5rem;

        b{
          color: $color-principal;
        }
      }
    } 
  }
}

@keyframes carousel-slide{

  /* Comparte el mismo porcentaje que el comentario de abajo de DIVISION*/
  0%{
    transform: translateX(0%);
  }
  
  25%{
    transform: translateX(-25%);
  }
  
  50%{
    transform: translateX(-50%);

  }
  
  75%{
    transform: translateX(-75%);
  }

}





/* Media queries para tablet */
@media screen and (min-width:768px){

  // Portafolio en si:
  main .portafolio .contenedor{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-around;
    align-items: center;

    .section-title{
      grid-column: span 2;
    }
  }

  //Estilo del modal
  .modal .modal-content .portafolio-modal{
    width: 100%;
    max-width: 800px;
    height: 400px;
    padding: 1rem 1rem;

    display: flex;
    flex-direction: row;

    img{
      width: 50%;
      height: 100%;
    }

    .portafolio-info{
      margin: 1rem;
      align-self: center;

      h3{
        margin: 0;
      }
    }
  }

  //Estilo del carrousel
  .modal .modal-content .portafolio-modal .carrousel{

    .slides{
      height: 100%;
    }
  }
}


/* Media queries para escritorio */
@media screen and (min-width: 1024px){

  // Portafolio en si:
  main .portafolio .contenedor{
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-around;
    align-items: center;

    .section-title{
      grid-column: span 3;
    }

  }
}