// Variables que re utilizaremos en el proyecto
$color-principal: #dc143c;
$color-secundario: #14172d;
$color-naranja: #ff6a00;
$color-blanco: #fff;
$color-enlaces: #509ee3;
$color-titulo: #333;
$color-texto: #222;

$color-principal-opacidad: rgba(220, 20, 60, .75);
$color-negro-opacidad: rgba(0,0,0,0.4);

$max-width: 1200px;
$header-nav-height: 4rem;
$font: 'Raleway', sans-serif;


// Background Degrade
$color-naranja-degrade: #ff6a0074;
$color-verde-degrade: rgba(29, 241, 171, 0.455);
$color-azulado-degrade: rgba(42, 162, 214, 0.638);




//NO UTILIZADOS AUN
$color-gris-opacidad: #ffffff7b; 




